ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}
span {
  color: #F8F8FA;
}
.navBar {
  background: #DFE5DA;
  box-shadow: 4px 2px 5px gray;
  color: #707070;
  margin-bottom: 0rem;
  padding: 1rem 1rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
