@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
  border-radius: .5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: whitesmoke;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.package-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 93%;
  margin: auto;
}

.individual-class-card {
  background-color: #FFFFFF;
  opacity: 77%;
  border-radius: .5REM;
  padding: 2%;
  text-align: center;
  color: black;
}

.student-info-display {
  color: #707070;
  background-color: #FFFFFF;
  margin: 2REM;
  border-radius: .5REM;
  padding: 2rem;
  opacity: 77%;
}
h2.student-info-display {
  font-family: cursive;
  font-size: x-large;
}