@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a:link {
color: black;
text-decoration: none;
}

a:visited{
  color: darkslategray ;
  text-decoration: none;
}

a:hover {
  color: goldenrod
}


a:link {
color: black;
text-decoration: none;
}
::placeholder {
  color: darkolivegreen
}
a:visited{
  color: darkslategray ;
  text-decoration: none;
}
h2 {
  color: whitesmoke;
}
a:hover {
  color: goldenrod
}


a:link {
color: black;
text-decoration: none;
}
::placeholder {
  color: darkolivegreen
}
a:visited{
  color: darkslategray ;
  text-decoration: none;
}
h2 {
  color: whitesmoke;
}
a:hover {
  color: goldenrod
}


html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #33404E;
}

p {
  font-size: 20px;
  margin-bottom: 0px;
  margin-bottom: 0px;
}

button {
  background-color: transparent;
  border: 2px solid darkgrey;
  color: whitesmoke;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 0.5rem;
  border-radius: .5rem;


}

button:hover {
  cursor: pointer;
  color: darkgrey;
  background-color: whitesmoke;
}

.container {
  margin: 0 auto;
  /* max-width: 600px; */
  overflow: auto;
  text-align: center;
  color: whitesmoke;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}


.individual-class-card {
  background-color: #FFFFFF;
  opacity: 95%;
  border-radius: .5REM;
  padding: 2%;
  text-align: center;
  color: black;
  width: 20%;
  height: 20%;
}

/* .info-display {
  color: #707070;
  padding-top: 2REM;
  background-color: #FFFFFF;
  border-radius: .5REM;
  opacity: 95%;
  padding: 21px 2rem 16px 2rem;
} */

.info-display {
  color: #707070;
  background-color: #FFFFFF;
  margin: 2REM;
  border-radius: .5REM;
  padding: 2rem;
  opacity: 90%;
}
.check-in-button {
  margin: 1rem 25% 1rem;
  width: 50%;
  font-size: 1.25rem;
  color: darkgrey;
  border-color: darkgrey;
}

.studio-table {
  color: #707070;
  background-color: #FFFFFF;
  padding: 2REM;
  border-radius: .5REM;
  padding: 2rem;
  opacity: 90%;
}

#root {
  background-color: #33404E;
}

.flower-pic {
  opacity: 40%;
  position: fixed;
  bottom: -8REM;
  left: 76rem;
  height: 35rem;
  transform: rotate(-41deg);
}
.footer {
  color: whitesmoke
}
.check-in-button {
  margin: 2rem 25% 1rem;
  width: 50%;
  font-size: 1.25rem;
}
/* 
.studio-table {
  color: #707070;
  background-color: #FFFFFF;
  padding: 2REM;
  border-radius: .5REM;
  padding: 2rem;
  opacity: 95%;
} */
